* body{
  background-color: #555;
  color: #ddd;
  font-family: sans-serif;
}
.emoji{
  font-family: "Apple Color Emoji", "Noto Color Emoji", "Segoe UI", Twemoji, emoji, sans-serif;
  font-size: 7.2em;
}
.random-emoji{
  min-width: 100px;
  cursor: pointer;
  border: 2px outset #aaa;
  border-radius: 20px;
}
.random-emoji:active{
  cursor: default
}
:focus-visible{
  border: 2px solid #55f;
}
